.Description {
  max-width: 980px;

  &__Header {
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
  }

  &__Body {
    margin-top: 25px;

    ul {
      padding-left: 19px;

      li {
        margin-bottom: 4px;
        line-height: 150%;
        font-weight: 400;
        font-size: 15px;

        a {
          color: var(--accent);
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
  }
}
