.PaymentsInfo {
  width: 100%;
  max-width: 1096px;

  &__Title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__Body {
    margin: 0;
    font-size: 15px;
    line-height: 21px;
    color: #cbcbcb;
  }

  ul,
  ol {
    margin: 0;
    padding-left: 16px;

    li {
      margin: 1em 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  a {
    color: var(--accent);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
