.WatchInfoOverlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  border-radius: $border-radius;
  overflow: hidden;

  &__Body {
    position: relative;
    z-index: 10;

    width: 280px;
    background-color: rgba($secondary, 0.4);
    padding: 10px;
    border-radius: $border-radius;

    display: grid;
    gap: 10px;
  }
}
