.LoginForm {
  position: relative;
  z-index: 1;
  max-width: 540px;
  width: 100%;
  padding: 30px;
  background-color: rgba(var(--primary-rgb), 0.8);
  border-radius: 10px;

  &__Group {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &__CheckBox {
      font-size: 16px;
      padding: 0 28px;
      margin-bottom: 30px;
      line-height: $line-height-base;

      :global label {
        font-size: 1rem;
      }
    }

    &__RequestNewPassword {
      margin-top: 40px;
    }

    &__Submit {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  &__Input {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 50px;
    padding: 0 28px;
    outline: 0;
    border: 0;

    &__AppendInner {
      position: absolute;
      display: flex;
      align-items: center;
      height: 50px;
      top: 0;
      right: 0;
      margin-right: 10px;
    }
  }

  &__Button {
    &__RequestNewPassword {
      display: block;
      position: relative;
      margin: 0 auto;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.25 all ease;
      }

      &:hover {
        &:before {
          background-color: var(--accent);
        }
      }
    }
  }

  &__Link {
    &__RequestNewPassword {
      color: var(--accent);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__Title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }

  &__Description {
    max-width: 100%;
    margin: 0 auto 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__TogglePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0.5;

    img {
      display: block;
      width: 28px;
      height: 28px;
    }
  }

  &__CheckUserErrorFeedback {
    display: block;
    font-size: 14px;
    color: var(--warning);
    margin-left: 28px;
    margin: 28px;
    margin-top: 5px;
    line-height: 1.4;
    margin-bottom: 0;
  }
}
