.DevicesInfo {
  width: 100%;
  max-width: 1096px;

  &__Title {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  a {
    color: var(--accent);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.DevicesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.DevicesItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  &__WithImage {
    .DevicesItem__Body {
      margin-top: 40px;
    }
  }

  &__ImageWrapper {
    margin-bottom: 20px;
  }

  &__Title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__Description {
    margin: 0;
    font-size: 15px;
    line-height: 21px;
    color: #cbcbcb;
  }

  &:last-of-type {
    .DevicesItem__ImageWrapper {
      margin-bottom: 0;
    }
  }
}
