.ContentGenreCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #100f23;
  border-radius: 10px;
  transition: 0.25s all ease;
  overflow: hidden;
  will-change: transform;
  padding: 25px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--accent);
    transform: scale(1.02) translateY(0) translateZ(0);
    transition-property: transform;
    transform-origin: 50% 100%;
  }

  &__Image {
    display: block;
    max-width: 100%;
    max-height: 85px;
  }

  &__Title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}
