.AspectRatio {
  &__Fixable {
    position: relative;
    max-height: 100vh;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 56.25%;
      pointer-events: none;
    }
  }

  &__Content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
