.ActivePacketCard {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 30px;

  &__ImageContainer {
    position: relative;
    z-index: 5;
    max-height: 260px;

    overflow: hidden;
    border-radius: 10px;
  }

  &__Image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__Title {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    left: 15px;

    margin: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__InnerContainer {
    display: flex;
    flex-direction: column;
  }

  &__Body {
    flex-grow: 1;
  }

  &__MetaList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      margin-bottom: 5px;
      line-height: $line-height-base;

      :global .label {
        display: inline-block;
        margin-right: 5px;
        color: #929090;
        font-weight: 500;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__SubscriptionControls {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;

    span {
      grid-column: 1 / 3;
      font-size: 16px;
    }
  }

  &__AutoPaid {
    display: flex;
    align-items: center;
  }
}

.AutoPaidSwitch {
  font-size: 16px;

  &__Label {
    font-size: 1rem;
    color: #929090;
    font-weight: 500;
  }
}
