.My {
  &__MySlider {
    margin-bottom: 70px;
  }

  &__UnfinishedFilmSlider {
    margin-bottom: 70px;
  }

  &__FavoritesFilmSlider {
    margin-bottom: 70px;
  }

  &__FavoritesSerialSlider {
    margin-bottom: 70px;
  }
}
