.Volume {
  display: flex;
  align-items: center;

  &:hover {
    .Volume__Button {
      --button-color: var(--accent);
      --button-hover-color: var(--accent);
    }

    .Volume__Range {
      max-width: fit-content;
      opacity: 1;
    }
  }

  &__Range {
    max-width: 150px;
    opacity: 0;
    transition: all ease-in-out 0.2s;
    display: flex;
    align-items: center;
  }

  &__Volume {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
  }
}
